
/*-------------------------------------
zTree Style
-------------------------------------*/
.ztree li a:hover {
	text-decoration: blink;
}

.ztree li a.level0 {
	width: 95%;
	height: 30px;
	text-align: center;
	display: block;
	background-color: #008080;
	border: 2px silver solid;
	padding: 0,0,0,10px;
	/* Ô²½Ç */
	border-radius: 8px; 
}

.ztree li a.level0.cur {
	background-color: #66A3D2;
}

.ztree li a.level0 span {
	display: block;
	color: white;
	padding-top: 3px;
	font-size: 180%;
	font-weight: bold;
	word-spacing: 2px;
}

.ztree li a.level0 span.button {
	float: right;
	margin-left: 10px;
	visibility: visible;
	display: none;
}



.ztree li span.button.switch.level0 {
	display: none;
}

/* 
.ztree li a.level1 {
	width: 65%;
	height: 20px;
	text-align: center;
	display: block;
	background-color: #408080;
	border: 2px silver solid;
	padding: 0,0,0,0px;
	Ô²½Ç
	border-radius: 5px;
}

.ztree li a.level1.cur {
	background-color: #66A3D2;
}

.ztree li a.level1 span {
	display: block;
	color: white;
	padding-top: 3px;
	font-weight: bold;
	word-spacing: 2px;
}

.ztree li a.level1 span.button {
	float: right;
	margin-left: 10px;
	visibility: visible;
	display: none;
}
 */
/* .ztree li a.level1{
	width: 50%;
	height: 15px;
	text-align: left;
	display: inherit;
	background-color: #ffffff;
	border: 2px silver solid;
	padding: 0,0,0,10px;
} */
